*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

[HackQuestion]/appsettings.json



# Visual Studio Code
.vscode
.vs

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

/HackQuestion/[Pp]ublic/

# Build results
[HackQuestion]/[Dd]ebug/
[HackQuestion]/[Dd]ebugPublic/
[HackQuestion]/[Rr]elease/
[HackQuestion]/[Rr]eleases/
x64/
x86/
build/
bld/
[HackQuestion]/[Bb]in/
[HackQuestion]/[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn
