*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

[src]/appsettings.json



# Visual Studio Code
.vscode
.vs

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

/src/[Pp]ublic/

# Build results
[src]/[Dd]ebug/*
[src]/[Dd]ebugPublic/*
[src]/[Rr]elease/*
[src]/[Rr]eleases/*
x64/
x86/
build/
bld/
[src]/[Bb]in/*
[src]/[Oo]bj/*
[src]/[Oo]bj/[Dd]ebug/
[src]/[Oo]bj/[Dd]ebug/
msbuild.log
msbuild.err
msbuild.wrn
