<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hack The Question</title>
    <link rel="stylesheet" href="~/css/reset.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapiss.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="shortcut icon" href="http://joseluiz.net/assets/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="http://joseluiz.net/assets/img/favicon.ico" type="image/x-icon">
    <link
href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,800" rel="stylesheet" crossorigin> 
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115448344-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-115448344-2');
    </script>
</head>
<body>
    @{ await Html.RenderPartialAsync("_Menu"); }
    <div class="container_">
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>
    <script src="https://cdn.webrtc-experiment.com/RecordRTC.js"></script>
    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
 
    <!-- <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script> -->
    <script src="https://cdn.polyfill.io/v2/polyfill.js?features=default,fetch,es6"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
     <!-- <script src="~/js/site.min.js" asp-append-version="true"></script>    -->
     <script src="~/js/app/helpers/Arrays.js" asp-append-version="true"></script>   
     <script src="~/js/app/services/HttpServices.js" asp-append-version="true"></script>   
     <script src="~/js/app/dao/QuestionDao.js" asp-append-version="true"></script>   
     <script src="~/js/app/services/QuestionServices.js" asp-append-version="true"></script>   

     <script src="~/js/app/controllers/QuestionController.js" asp-append-version="true"></script>   
     <script src="~/js/app/views/View.js" asp-append-version="true"></script>   
     <script src="~/js/app/views/QuestionView.js" asp-append-version="true"></script>   

     <script src="~/js/site.js" asp-append-version="true"></script>   



    <script>let controller = new QuestionController();</script>
    @RenderSection("Scripts", required: false)
</body>
</html> 