<div class="modal fade" id="sendquestion" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add Question</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Kind of Question</label>
                <select class="form-control" id="exampleFormControlSelect1">
                <option>C#</option>
                <option>Javascript</option>
                <option>Java</option>
                <option>HTML</option>
                <option>General</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Question</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Your Question">
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Answare</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Time</label>
                <input type="time" class="form-control" id="time" >
            </div>
            </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
 
  